{% extends 'base.html' %}
{% block content %}
<ul class="list-articles">
    {% for c in cars %}
    <li>
        <div class="article-panel">
            <p class="first">Country of manufacture: {{ c.cat.name }} |
                Author: {{c.author.username|default:'No name'}}</p>
            <p class="last">Time last update: {{c.time_update|date:"d-m-Y H:i:s"}}</p>
        </div>
        {% if c.photo %}
        <p><img class="img-article-left thumb" src="{{ c.photo.url }}"></p>
        {% endif %}
        <h2>{{c.name}}</h2>
        {% autoescape off %}
        {{c.year|linebreaks|truncatewords:40}}
        {% endautoescape %}
        <div class="clear"></div>
        <p class="link-read-post"><a href="{{ c.get_absolute_url }}">Read more</a></p>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block navigation %}
{% if page_obj.has_other_pages %}
<nav class="list-pages">
    <ul>
        {% for p in paginator.page_range %}
        {% if page_obj.number == p %}
        <li class="page-num page-num-selected">{{ p }}</li>
        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:+2 %}
        <li class="page-num">
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>
{% endif %}
{% endblock %}